.button{display:inline-block;outline:none;overflow:hidden;box-sizing:border-box;margin:0;padding:0;text-align:center;text-decoration:none;font-family:inherit;font-size:14px;line-height:20px;border:0;border-radius:3px;background:none;cursor:pointer;user-select:none}.button::-moz-focus-inner{padding:0;border:0}.button:hover,.button:focus{text-decoration:none}
