.app
  display: flex
  overflow: hidden
  height: 100%
  max-height: 100vh
  min-height: 100vh
  background: #eee

body
  font: 14px/1 Verdana, sans-serif
  background: #eee

body,
h1, h2, h3,
p, ul, ol, li
  margin: 0

ul, ol, li
  list-style: none
  padding: 0
