.spinner{position:relative;height:100%}.spinner__lds{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:96px;height:96px}.spinner__dual-ring{position:relative;transform:translate(-48px, -48px) scale(0.48) translate(48px, 48px);width:96px;height:96px}.spinner__dual-ring::before{content:'';position:absolute;top:20px;left:20px;width:160px;height:160px;border:8px solid #000;border-color:#337ab7 transparent #337ab7 transparent;border-radius:50%;animation:spinner-rotate 1s linear infinite}@keyframes spinner-rotate{100%{transform:rotate(360deg)}}
