.button_action_delete
  $color: #999

  position: relative
  background: linear-gradient($color, darken($color, 8))

  &:hover
    background: linear-gradient(lighten($color, 8), darken($color, 8))

  &::before,
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 2px
    height: 70%
    background: #fff

  &::before
    transform: translateX(-50%) translateY(-50%) rotate(-45deg)

  &::after
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
