.button_action_delete{position:relative;background:linear-gradient(#999, #858585)}.button_action_delete:hover{background:linear-gradient(#adadad, #858585)}.button_action_delete::before,.button_action_delete::after{content:'';position:absolute;top:50%;left:50%;width:2px;height:70%;background:#fff}.button_action_delete::before{transform:translateX(-50%) translateY(-50%) rotate(-45deg)}.button_action_delete::after{transform:translateX(-50%) translateY(-50%) rotate(45deg)}
